@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

//COLORS
$purple:#261926;
$black:#131313;
$grey:#454141;
$white:#ffffff;
$gold:#FEB143;

html{
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: $white;
  font-size: 1.8rem;
  line-height: 1.4;
  color: $black;
}

@import "header";

@import "banners";